
.fa-heart-o{
  border-radius: 50%;
  background:#b4b4b4;
}
.fa-heart-o:hover{
  background: #ffb3ba;
}
.fa-heart-on{
  background: #ffb3ba;

}
.fa-heart-on:hover{
  border-radius: 50%;
  background:#b4b4b4;
}
        [class*="col-"] {
/*          background-color: lightgreen;
          border: 2px solid black;
          border-radius: 6px;*/
          line-height: 26px;
          text-align: left;
        }
      .logo_text {
        text-align: left;
        vertical-align: bottom;
/*        display: flex;
        justify-content: */
      }
      blockquote {
        text-align: left;
      }
/*      .logo_text b{
        position: absolute;
        bottom: 0;
      }*/
/*      .logo_img img{
        position: absolute;
        right: 0;

      }
*/
