<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!--    <link href="css/animate.min.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css_admin_for_all.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="logo3.png" class= "logo3" alt="">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>





          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="home_admin.html">Accueil</a>
              </li>
             
              
              <li class="nav-item ">
                <div class="dropdown">
                  <button class="nav-item dropbtn">Alertes
                  <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="créer_alerte_admin.html">Créer une alerte</a>
                     <a href="alertes_utilisateurs.html">Alertes utilisateurs</a>
                    <a href="Historique_des_alertes_admin.html">Historique des alertes</a>
                  </div>
                </div>
              </li>
              
              <li class="nav-item ">
                <div class="dropdown">
                  <button class="nav-item dropbtn"> Mes favoris
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="ajouter_favoris_admin.html">Ajouter un favori</a>
                    <a href="Liste_des_favoris_admin.html">Liste des favoris</a>
                  </div>
                </div>
              </li>
               
               <li class="nav-item ">
                <div class="dropdown">
                  <button class="nav-item dropbtn"> Formulaire
                  <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="statistiquesformulaire.html">Statistiques du formulaire</a>
                    <a href="repondre_formulaire_admin.html">Répondre au formulaire</a>
                  </div>
                </div>
              </li>
              
              <li class="nav-item ">
                <a class="nav-link" href="administrateurs.html">Administrateurs</a>
              </li>
              
              <li class="nav-item ">
                <a class="nav-link" href="capteurs.html">Capteurs</a>
              </li>
              
              <li> <a type="button" class="btn btn-danger btn-block bouton" href="PageConnexion.html"> Déconnexion </a> </li>
            </ul>
          </div>
        </div>
     </nav>

<title>YIIAQ</title>
<body>
  
 


<!-- Page Content --> <br/>
<div class="container">
    <div class="row form-group">

        <section class="col-md-10">
            <input type="search" placeholder="Rechercher d'autres salles" class="form-control" />
                   

        </section>
      

    </div>

    <section class="row form-group" th:each="salle:${campus_with_the_selected_salle.getList_salles()}">
        <!-- Search form -->

        <div class="col-xs-3 col-sm-2 col-md-2">
            <h3 class="display-3" th:text="${campus_with_the_selected_salle.campus_name}">HEI </h3>
        </div>
        <div class="col-xs-3 col-sm-4 col-md-4">
            <h3 class="display-3" th:text="${salle.salle_name}">S213</h3>
        </div>
        <div class="col-xs-3 col-sm-4 col-md-6">
            <h4 class="display-6" th:text="'Salle Bâtiment ' + ${salle.batiment_name} + ' - au ' + ${salle.etage_name}"> Salle Bâtiment Ségard - au 2ème étage</h4>
        </div>
        <p for="appt">Choisisez l'intervalle de temps pour la représentation des graphiques: </p>
        
      </section>
      
      <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4">
          
            Du <input type="date" name="anniversaire" max="2021-01-01" min="2020-01-01"  value="2020-02-13"style="margin: 0px 5px 15px 5px;">à 
            
            <input type="time" name="wakeup"  value="08:00"style="margin: 0px 5px 15px 5px;">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            Au <input type="date" name="anniversaire" max="2021-01-01" min="2020-01-01"  value="2020-02-13"style="margin: 0px 5px 15px 5px;"> à
            <input type="time" name="wakeup"  value="18:00" style="margin: 0px 2px 2px 2px; ">
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4"> 

          <p >Ajouter au favori:</p>
            <i class="heart fa fa-heart-o"></i>
          
        </div>
      </div>
<style type="text/css">
 

.heart {
  font-size: 45px;
    color:red;


}</style>
<script type="text/javascript">

$(".heart.fa").click(function() {
  $(this).toggleClass("fa-heart fa-heart-o");
});</script>
        
   



    <!-- Select your Campus -->
    <br>
    <br>
    <section class="row form-group">

        <!-- Element CO2 -->
        <div class="col-xs-4 col-sm-3 col-md-3">

            <section class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 logo_img hover01" data-toggle="modal" data-target="#exampleModalLong"><a>
                  <img src="images/co2_v3.png" alt="CO2" align="right">
                </a></div>
                    
              

                <div class="col-xs-6 col-sm-6 col-md-6 logo_text">
                    <section class="row">
                        <b>CO2</b>
                    </section>
                    <section class="row">
                        <p>458ppm</p>
                    </section>
                </div>

            </section>
        </div>

        <!-- Element Temperature  -->
        
        <div class="col-xs-4 col-sm-3 col-md-4">
            <section class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 hover01 column" data-toggle="modal" data-target="#exampleModalLong"><a>
                    <img src="images/hot_v3.png"  alt="Temperature" align="right"></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 logo_text">
                    <section class="row">
                        <b>Temp.</b>
                    </section>

                    <section class="row">
                        <p>25°C</p>
                    </section>
                </div>

            </section>
        </div>
       


        <!-- Element Humidity  -->

        <div class="col-xs-4 col-sm-3 col-md-4" style="margin-bottom : 90px;">
            <section class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 logo_img hover01" data-toggle="modal" data-target="#exampleModalLong"><a>
                    <img src="images/humidity_v3.png" alt="Humidity" align="right">
                </a></div>
                <div class="col-xs-6 col-sm-6 col-md-6 logo_text">
                    <section class="row">
                        <b>Hum.</b>
                    </section>

                    <section class="row">
                        <p>7%</p>
                    </section>
                </div>



            </section>
        </div>

 <br/>



 <div class="col-xs-2 col-sm-2 col-md-2"></div>
        <!-- Element Luminosity  -->
        

        <div class="col-xs-4 col-sm-3 col-md-3" style="margin-bottom : 50px;" >
            <section class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 logo_img hover01" data-toggle="modal" data-target="#exampleModalLong"><a>
                    <img src="images/luminosity_v3.png" alt="Luminosity" align="right">
                </a></div>
                    
               
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <section class="row">
                        <b>Lum.</b>
                    </section>

                    <section class="row">
                        <p>125lux</p>
                    </section>
                </div>

            </section>
        </div>


       <div class="col-xs-1 col-sm-1 col-md-1"></div>

        <!-- Element PM2.5  -->
        <div class="col-xs-4 col-sm-3 col-md-3">
            <section class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 logo_img hover01" data-toggle="modal" data-target="#exampleModalLong"><a>
                    <img src="images/pm2.5_v3.jpg" alt="PM2,5" align="right">
                </a></div>
                    
               
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <section class="row">
                        <b>Qualité</b>
                    </section>

                    <section class="row">
                        <p>0.11ppb</p>
                    </section>
                </div>

            </section>
        </div>

    </section>

</section>

 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Temperature en fonction du temps:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                température en fonction du temps:
            <img src="graphique1.jpg">
            </div>
            
          </div>
        </div>
      </div>
  <section class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
                  
   Formule de la tangente:   <button class="formule"><i class="fa fa-flask"></i></button>
</div>

    <div class="col-xs-4 col-sm-4 col-md-4">
   Formule de pythagore:   <button class="formule"><i class="fa fa-flask"></i></button>
</div>

<div class="col-xs-4 col-sm-4 col-md-4">
   Formule de thales:   <button class="formule"><i class="fa fa-flask"></i></button>
</div>
</section>
<section class="row">
   <br/>

       <p> Si vous souhaitez extraire les données capteurs dans un Excel sur ce laps de temps:</p>
<button id="" name="" style="margin:0px 4px 6px 6px;"class="btn btn-secondary">Extraire</button>
</body>


</body>
</html>